.App {
  text-align: center;
}

* {
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 36px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

main {
  text-align: center;
  padding: 20px;
}

.hero {
  background-color: #0077b6;
  color: #fff;
  padding: 40px;
  border-radius: 10px;
  width: 100%;
}

h2 {
  font-size: 28px;
}

p {
  font-size: 18px;
}

.cta-button {
  all: unset;
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #f77f00;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.cta-button:hover {
  cursor: pointer;
}

.sign-in-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #f77f00;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  margin-left: 10px;
}

.login-section {
  background-color: #0077b6;
  color: #fff;
  padding: 40px;
  border-radius: 10px;
}

.register-section {
  background-color: #0077b6;
  color: #fff;
  padding: 40px;
  border-radius: 10px;
}

/* Breadcrumb.css */
.breadcrumb {
  background-color: #0077b6;
  color: #fff;
  border-radius: 10px;
  font-size: 14px;
  position: relative;
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  text-align: left;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  /* Add display:flex to align the breadcrumb items */
  align-items: center;
  /* Vertically align items in the breadcrumb */

}

.breadcrumb li {
  display: inline;
  margin-right: 10px;
}

.breadcrumb a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}


.breadcrumb li:last-child {
  color: orange;
  font-weight: bold;
  text-align: center;
}

.breadcrumb a::after {
  content: " >> ";
  color: #fff;
  font-weight: bold;
}

label {
  display: block;
  font-weight: bold;
}

input {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#userType {
  height: 40px;
  font-size: 18px;
}

/* Driver_Dashboard.css */
.sidebar-container {
  display: flex;
}

.sidebar {
  width: 200px;
  background-color: #0077b6;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
}

.sidebar ul {
  list-style: none;
  padding: 40px 0;
  margin: 10px;
}

.sidebar ul a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}


footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.loader {
  width: 30px;
  height: 30px;
  border: 4px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Use in Report.css*/
.radio-inline input[type="radio"] {
  display: inline-block;
  width:20px;
  vertical-align: middle; 
  margin-right: 10px;
}

.radio-inline label {
  display: inline-block;
  vertical-align: middle; 
}