body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    background-image: linear-gradient(135deg, #0f172a, #172554);
}

.wrapper {
    display: flex;
    justify-content: center;
}

div.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3em;
}

h1 {
    color: white;
    font-family: Arial;
    font-size: 40px;
}

img {
    width: 250px;
    height: 250px;
}