/* Report.css */

/* Styles for the report hero section */
.hero {
    background-color: #0077b6;
    color: #fff;
    padding: 60px;
    border-radius: 10px;
}

h1 {
    font-size: 36px;
}

.radio-inline input[type="radio"] {
    display: inline-block;
    width:20px;
    vertical-align: middle; 
    margin-right: 10px;
}

.radio-inline label {
    display: inline-block;
    vertical-align: middle; 
}

/* Additional CSS styles can be added here to customize the report appearance */
