.sign-in-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #f77f00;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-left: 10px; 
}